<!-- Footer -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
<style>
  .link-secondary {
    padding: 3px;
  }
</style>
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-home me-3 text-secondary"></i> Mumbai, ABC Road,
            Maharashtra, India
          </p>
          <p>
            <i class="fas fa-envelope text-secondary"></i>
            roshnigwadhwani@gmail.com
          </p>
          <p><i class="fas fa-phone text-secondary"></i> (+91) 9527034566</p>
          <a
            href="https://www.instagram.com/roshniwadhwani18/"
            class="link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/roshni-wadhwani"
            class="link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="https://www.github.com/Roshni-Wadhwani"
            class="link-secondary">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/RoshniWadhwan10" class="link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="{% url 'searchurl' id=2%}" class="text-reset"
              >Men-Clothing</a
            >
          </p>
          <p>
            <a href="{% url 'searchurl' id=3 %}" class="text-reset"
              >Women-Clothing</a
            >
          </p>
          <p>
            <a href="{% url 'searchurl' id=1%}" class="text-reset">Watches</a>
          </p>
          <p>
            <a href="{% url 'searchurl' id=4%}" class="text-reset">Slings</a>
          </p>
          <p>
            <a href="{% url 'searchurl' id=5%}" class="text-reset">Footwears</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
          <p>
            <a href="#!" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Contact Us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Feedback</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Privacy Policies
          </h6>
          <p>
            <a href="#!" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Privacy Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terms of service</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >Ecommerce.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
