{% extends 'header.html' %} {% block extra %}
<div class="container">
  <div class="col-md-5">
    <div class="row">
      <img
        src="/media/{{products.image}}"
        alt="{{products.category}}"
        height="400px"
        width="350px"
      />
    </div>
  </div>
  <div class="col-md-7">
    <h4><b>{{ products.name }} </b></h4>
    <h4><b> Rs.{{ products.price }}</b></h4>
    <p>{{ products.description }}</p>
  </div>
</div>
<br />
<hr />
{% include 'footer.html' %}
<script>
  var $j = jQuery.noConflict();
  $j(document).ready(function () {
    $j('[data-toggle="popover"]').popover();
  });

  $j("#popoverCart").popover({ html: true, sanitize: false });
  function updatePopover(cart) {
    var popStr = "";
    popStr = popStr + "<div>";
    for (var item in cart) {
      a = item.slice(2);
      if (cart[item][0] != 0) {
        popStr += cart[item][1] + " Qty:" + cart[item][0] + "<br>";
      }
    }
    popStr +=
      "<hr></div> <a href='/store/checkout'><button class='btn btn-primary' id='checkout'>Checkout</button></a> <br><button class='btn btn-primary' id='clearCart' style='margin-top:6px' onclick='clearCart()'>Clear Cart</button>";

    document.getElementById("popoverCart").setAttribute("data-content", popStr);
  }
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
    var sum = 0;
    for (var item in cart) {
      sum += cart[item][0];
    }
    document.getElementById("navCart").innerHTML = sum;
    // updateCart(cart);
    updatePopover(cart);
    $j("#popoverCart").popover("hide");
  }
</script>
{% endblock extra %}
